*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    background-image: url(imagenes/azul.jpg);
    background-size: cover;
    font-family: sans-serif;

}


/*SLIDER*/ 

.carousel-inner{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   height: 500px;
   width: auto;
   background-color: hsla(300, 100%, 25%, 0.466);
   
}




.carousel-inner img{ 
    width: 1200px;
    height: 500px;
}





  


    .thumbnail{
        
        
        text-align: center;
        margin: 90px;
        padding: 10px;
      
    }
    

  .comotuquieras{
      margin-left: 300px;
      text-align: center;
  }

  .comotuquieras img{
    height: 480px;
    width: 1260px;
  }