

.banner{
    background: url("Slider_1.jpg");
    width: 100%;
    height: 58vh;
}

.banner-container{
height: 40px;
color: rgb(0, 0, 0);
width:50%;
font-size: 35px;
padding-top: 70px;
}
.banner-container h1{
    height: 10px;

    font-size: 40px;
    line-height: 60px;
    color: rgb(255, 255, 255);
    background-position: center;
    text-decoration: none;
    margin-left: 40px;
 }
.banner-container p{
    
    margin-left: 40px;
    line-height: 130px;
    font-size: 23px;
  color: rgb(255, 255, 255);
    text-decoration: none;
 }
 .banner-container a{
    margin-left: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
 }
.page-text{
    height: 40px;
color: rgb(0, 0, 0);
width:100%;
margin-left: 40px;
font-size: 22px;
padding-top: 70px;
}
.row{
  margin-left: 90px;
padding-top: 70px;
}