*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    background-image: url(imagenes/azul.jpg);
    background-size: cover;
    font-family: sans-serif;

}
.ImagenPortada{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.ImagenPortada img{ 
    width: 200vh;
    height: 30vh;
}

.FotoPerfil {
    width: 320px;
    height: 690px;
    background: #0000;
    top: 50%;
    left: 20%;
    position: absolute;

    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
  
}




.FotoPerfil img
{
    width: 320px;
    height: 400px;

    border-radius: 10%;
}


.contenedor-texto h1{
   
    width: 450px;
    height: 100px;
    margin-left: 615px;
    color: #fff;
    font-weight: bold;
}

    .Boton{
      margin-left: 1200px;
     margin-top: -280px;
    }

    .BotonE{
       
        margin-left: 1200px;
       margin-top: 20px;     
       
      }


    .row{
        width: 2400px;
       
        margin-top: 200px;
        margin-left: 600px;
        text-align: left;
      
    }
    

  