*{
    margin: 0;
    padding: 0;
   
}


body{
   
    background-image: url(imagenes/flud.jpg);
    background-size: cover;
    font-family: sans-serif;

}






.noticia{
    width: 100%;
    height: 84px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
}





    .row{
        width: 100%;
        margin-left: 190px;
        margin-top: 130px;
        text-align: center;
      
    }
    

  