body{
    background: url('Fondito.png');
    background-size: cover;
}
.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}
.modal-content{
    background-color:  whitesmoke;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}
.form-group input{
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}
