
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url('Fondo.jpg');
}
.form-registro{
width: 400px;
background: whitesmoke;
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
color: rgb(69, 65, 87);
font-family: 'calibri';
box-shadow: 7px 13px 37px #000 ;
}
.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.form-registro h2{
    font-size: 12px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background: whitesmoke;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid rgb(230, 109, 79);
    font-family:'calibri';
font-size: 18px;
    
}
.form-registro p{
   height: 40px;
   text-align: center;
   font-size: 18px;
   line-height: 40px;
}
.form-registro a{
color: rgb(22, 87, 161);
   text-decoration: none;
 }
 .form-registro a:hover{
    color: rgb(22, 87, 161);
    text-decoration: underline;
 }
 .form-registro .botons{
     width: 100%;
     background:rgb(230, 109, 79) ;
     border: none;
padding: 12px;
color: whitesmoke;
margin:16px 0;
font-size: 16px;
 }
  
